<section class="hero">
    <!-- Hero Slider -->
    <div class="hero-slider__slider">
        <div class="slider-hero__body swiper">
            <div class="slider-hero__slide"
                style='background: linear-gradient(180deg, rgba(35, 35, 35, 0.2) 0%, #232323 100%), url("@img/gallery-photo.png") 50% 50% / cover no-repeat;'>
                <h3>
                    CNAMUP informează că în perioada lunilor ianuarie – martie 2023, Serviciul de Asistență Medicală
                    Urgentă Prespitalicească a fost solicitat pentru 609 pacienți, inclusiv la 210 copii cu intoxicații
                    de diverse etiologii.
                </h3>
                <button class='button button__blue'>
                    Citește articolul
                </button>
            </div>
            <div class="slider-hero__slide"
                style='background: linear-gradient(180deg, rgba(35, 35, 35, 0.2) 0%, #232323 100%), url("@img/Image.png") 50% 50% / cover no-repeat;'>
                <h3>
                    CNAMUP informează că în perioada lunilor ianuarie – martie 2023, Serviciul de Asistență Medicală
                    Urgentă Prespitalicească a fost solicitat pentru 609 pacienți, inclusiv la 210 copii cu intoxicații
                    de diverse etiologii.
                </h3>
                <button class='button button__blue'>
                    Citește articolul
                </button>
            </div>
            <div class="slider-hero__slide"
                style='background: linear-gradient(180deg, rgba(35, 35, 35, 0.2) 0%, #232323 100%), url("@img/gallery-photo.png") 50% 50% / cover no-repeat;'>
                <h3>
                    CNAMUP informează că în perioada lunilor ianuarie – martie 2023, Serviciul de Asistență Medicală
                    Urgentă Prespitalicească a fost solicitat pentru 609 pacienți, inclusiv la 210 copii cu intoxicații
                    de diverse etiologii.
                </h3>
                <button class='button button__blue'>
                    Citește articolul
                </button>
            </div>
        </div>
        <div class="slider-hero-controls">
            <div class="slider-hero-controls__dots"></div>
        </div>
    </div>

    <!-- Calendar Card-Block Left -->
    <div class="hero__content hero__content-left">
        @@include('../cards/calendar-card.html')
    </div>
    <!-- Info Cards and Slider Block Right -->
    <div class="hero__content hero__content-right">
        @@include('../cards/ansp-card.html')
        @@include('../cards/medapp-card.html')
        @@include('../slider/benefits-slider.html')
    </div>
</section>