.no-footer-bg .footer {
    background-color: transparent;
}

.footer {
    padding: 48px 0;
    background-color: $white;

    .disclaimer {
        @include border-rounded-shadow($gray-stroke, 0, #FF9F9F);
        font-size: 14px;
        text-align: center;
        margin-top: 24px;
        padding: 20px;

        &-title {
            display: flex;
            align-items: center;
            gap: 24px;
            margin-bottom: 12px;

            h5 {
                color: $maincolor;
            }

            .line {
                position: relative;
                border-width: 1px;
                flex: 1 auto;
                border-style: solid;
                color: #FF9F9F;
                &::after{
                    display: block;
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -10px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #FF9F9F;
                }
                &:last-child{
                    &::after{
                        left: -10px;
                    }
                }
            }
        }

        p {
            color: $text-secondary;
            font-size: 14px
        }
    }

    &__wrapper {
        @include grid(12, 24px);

        @media (max-width: $mobileMedium) {
            grid-template-rows: repeat(2, 1fr);
        }
    }

    &-col {
        @include flex(row, center, center);
        @include border-rounded-shadow($gray-stroke, 0, $yellow-shadow);
        padding: 24px;
        grid-column: span 6;
        background-color: $white;

        &__contact {
            flex-direction: column;
            text-align: center;

            .footer-content {
                margin-bottom: 12px;
            }

            &-title {
                margin-bottom: 4px;
            }

            &-subtitle {
                color: $text-secondary;
            }
        }

        &__info {

            &-img {
                max-width: 170px;
                width: 100%;
                height: auto;
                margin-bottom: 12px;
            }
        }

        @media (max-width: $mobileMedium) {
            grid-column: span 12;
        }
    }

    @media (max-width: $mobileMedium) {
        padding: 24px 0;
    }
}