<footer class="footer">
    <div class="footer__container">
        <div class="disclaimer">
            <div class='disclaimer-title'>
                <div class='line'></div>
                <h5>Disclaimer</h5>
                <div class='line'></div>
            </div>
            <p>
                Informațiile prezentate aici se bazează pe cele mai recente date științifice disponibile la momentul publicării, însă cercetarea în domeniul medical este în continuă evoluție. Este posibil ca unele informații să se schimbe pe măsură ce apar noi studii. Acest site nu promovează sau denigrează niciun anumit vaccin sau producător. Scopul nostru este de a furniza informații cât mai complete și obiective pentru a vă ajuta să luați decizii informate privind sănătatea dumneavoastră și a celor dragi.
            </p>
        </div>
       <!--  <div class="footer__wrapper">
            <div class="footer-col footer-col__contact">
                <div class="footer-content">
                    <h3 class="footer-col__contact-title">Aveți întrebări suplimentare?</h3>
                    <p class="footer-col__contact-subtitle">Scrieți-ne un mesaj și noi vă ajutăm!</p>
                </div>
                <button id="contact-modal-btn" class="button button__blue">Contactați-ne</button>
            </div>
            <div class="footer-col footer-col__info">
                <img class="footer-col__info-img" src="@img/logos/ue.svg" alt="Uniunea Europeana">
                <h4 class="footer-col__info-title">Sursă oficială de informare despre procesul de vaccinare din Republica Moldova</h4>
            </div>
        </div>  -->
    </div>
</footer>